{% for item in include.content %}
<div class="edu-item">
  <h4 class="edu-title">{{ item.title }}</h4>
  <div class="edu-meta">
    {%- if item.location -%}<p>{{ item.location }}</p>{%- endif -%}
    {%- if item.caption -%}<p>{{ item.caption }}</p>{%- endif -%}
  </div>
  <ul class="edu-list">
    {% for point in item.items %}
    <li>
      <span class="edu-list-text">{{ point.text }}</span>
      {%- if point.note -%}<span class="edu-list-note">{{ point.note }}</span>{%- endif -%}
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
{%- assign edu_logos = include.content | where_exp: "item", "item.logo" -%}
{%- if edu_logos.size > 0 -%}
<div class="edu-logos">
  {% for item in edu_logos %}
  <span class="edu-logo-card"><img src="{{ item.logo | relative_url }}" alt="{{ item.logo_alt | default: item.title }}"></span>
  {% endfor %}
</div>
{%- endif -%}
