{% for item in include.content %}
<div class="edu-item">
  <h4 class="edu-title">{{ item.title }}</h4>
  <div class="edu-meta">
    {%- if item.location -%}<p>{{ item.location }}</p>{%- endif -%}
    {%- if item.caption -%}<p>{{ item.caption }}</p>{%- endif -%}
  </div>
  <ul class="edu-list">
    {% for point in item.items %}
    <li>
      <span class="edu-list-text">{{ point.text }}</span>
      {%- if point.note -%}<span class="edu-list-note">{{ point.note }}</span>{%- endif -%}
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
