{% for item in include.content %}
  <div class="list-entry border-{{item.border | default: 'no'}}">
  <div class="row clearfix layout layout-{{item.layout | default: 'left'}}">
    <div class="col-xs-12 col-sm-6 col-print-12 details">
      <h4 id="{{ item.title | slugify }}">
        {%- if item.title_link -%}
          {% include a.html href=item.title_link class="" %}{{ item.title }}</a>
        {%- else -%}
          {{ item.title }}
        {%- endif -%}
      </h4>
      {%- if item.sub_title -%}
        <p><b>
          {%- if item.sub_title_link -%}
            {% include a.html href=item.sub_title_link class="" %}{{ item.sub_title }}</a>
          {%- else -%}
            {{ item.sub_title }}
          {%- endif -%}
        </b></p>
      {%- endif -%}
      {%- if item.caption -%}<p>{{ item.caption }}</p>{%- endif -%}

      {%- if item.link -%}
        {% include a.html href=item.link class="link" %}
          {%- if item.link_text -%}{{ item.link_text }}{%- else -%}{{ item.link }}{%- endif -%}
        </a>
      {%- endif -%}

      <p class="no-print aditional-links">
        {% for link in item.additional_links %}
          {% include a.html href=link.url class="" %}
            <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
          </a>
        {% endfor %}
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-print-12 content">
      {%- if item.quote -%}
        <p class="quote">{{ item.quote }}</p>
      {%- endif -%}
      {%- if item.expandable -%}
      <details class="list-expand">
        <summary>{{ item.expand_label | default: "Show details" }}</summary>
        <div class="list-expand-body">
          {%- if item.pdf -%}
            <iframe class="pdf-embed" data-src="{{ item.pdf | relative_url }}" title="{{ item.title }}"></iframe>
            <p class="pdf-fallback"><a href="{{ item.pdf | relative_url }}" target="_blank">Open PDF in a new tab</a></p>
          {%- else -%}
            {{ item.description | strip | markdownify }}
          {%- endif -%}
        </div>
      </details>
      {%- else -%}
        {{ item.description | strip | markdownify }}
      {%- endif -%}
    </div>
  </div>
  {%- if item.image -%}
  <div class="item-image">
    <img src="{{ item.image | relative_url }}" alt="{{ item.image_alt | default: item.title }}">
  </div>
  {%- endif -%}
  </div>
{% endfor %}
